body {
	background-color: #FCF9FF;
}

#fade-in { 
	/* for fade in things lol*/
	-webkit-animation: fadein 2.5s;
}	

@-webkit-keyframes fadein {
	from{opacity: 0;}
	to{opacity: 1;}
}

.center_title {
	height: 28px;
	text-align: center;
	font-size: 200%;


}
.title {

}
