/* this is all really confusing even to me */
html {
	margin: 0px;
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Catamaran', sans-serif;
	letter-spacing: 1px;
	margin: 0px;
	min-height: 100%;
	width: 100%;
	color: gray;
	
}

#fade-in { 
	/* for fade in things lol*/
	-webkit-animation: fadein 2s;
}	


@-webkit-keyframes fadein {
	from{opacity: 0;}
	to{opacity: 1;}
}

#me {
	margin-left: auto;
	margin-right: auto;
	padding-top: 4vh;
	padding-bottom: 10vh;

}

.center_title {
	height: 28px;
	padding-top: 50px;
	padding-bottom: 30px;	
	text-align: center;
	font-family: gilbert, sans-serif;
	font-size: normal;
	font-size: 500%; 
	letter-spacing: 7px;

}

.line {
	height: 7px;
	background-color: #FFA8A9;
	width: 85vw;
	margin-bottom: 15px;
}

h4 {
	font-size: 130%;
	text-decoration: underline;
	text-decoration-color: #B84A62;
	font-family: 'varela round', sans-serif;
}

h1 {
	font-size: 500%;
	line-height: 100%;
	padding-top: 50px;
}

h2 {
	font-size: 150%;
	font-weight: 140%;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #FFA8A9;
}

.aboutme {
	width:345px;
	letter-spacing: 5px;
	font-family: 'Modak', cursive;
	color: #FFA8A9;
}

.bio {
	font-size: 105%;
	width: 900px;
	padding-top: 4vh;
	padding-bottom: 10vh;
	line-height: 125%;
	margin: 0 auto;
	text-align: center;
	column-count: 2;
	color: gray;
}

.ima_cry {
	padding-top: 40px;
}

.columning {
	margin-top: 80px;
  	text-align: center;
  	margin-left: 17%;
  	margin-right: 17%;
  	line-height: 70%;
  	display: flex;

  }

.description {
	font-size: 100%;
	line-height: 120%;
	width: 300px;
}

.body_title {
	margin: 0 auto;
	text-align: center;
	font-size: 70%;
	font-family: 'Modak', cursive;
	color: #FFA8A9;
	letter-spacing: 4px;
	font-weight: bold;
}

.mini-body {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 500px;
}

#top-border {
	background-color: #FFA8A9;
	height: 30vh;
	width: 100vw;
	margin: 0;
	color: white;
	padding-bottom: 20px;
}

#bottom-border {
	background-color: #FFA8A9;
	height: 26vh;
	margin: 0;
	color: white;
}

